<html>
<head>
    <title>Planet Defence</title>
    <link rel="icon" href="~/img/planet-defense.jpg" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/App.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>