@*<html>*@
@*<head>
    <script src="~/Scripts/App.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>*@
@*<body>*@
    <canvas id="canvas"></canvas>
@*</body>*@
@*</html>*@